main{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),url("../Asset/background.webp");
    background-size: cover;
    background-position: center;
    font-family: var(--fontFamily);
    color: var(--text);
}
.aboutus-container{
    display: flex;
    flex-direction: row;
    padding: 16px;
    gap: 10px;
}
.text-container{
    width: 50%;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px
}
h1{
    font-size: 128px;
    font-weight: 700px;
    text-decoration: var(--bold);
    line-height: 100%;
}
h2{
    font: var(--titleSmall);
}
h3{
    font: var(--headingMedium)
}
.text-container span{
    color: #0A8AFF;
}
.img-container{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: repeat(2,1fr);
    row-gap: 5px;
    column-gap: 5px;
    position: relative;
}
.img-container img{
  height: 250px;
  position: relative;
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.bt{
    text-align: center;
}
footer{
    margin-top: 0px;
}
main button{
    transition: all 0.3s ease;
    cursor: pointer;
    font: var(--titleSmall);
    background-color: var(--accent);
    padding: 32px;
    border-radius: 70px;
    color: var(--moreContrastText);
    margin-bottom: 20px;
    border: none;
}
main button:hover{
    background: var(--colorButtonHover);
}
@media (max-width: 992px) {
     .text-container{
        width: 100%;
    }
    .img-container{
        width: 100%;
    }
    .aboutus-container{
        flex-direction: column;
    }
}
@media (max-width: 767px) {
     .aboutus-container{
        flex-direction: column;
    }
    .text-container{
        width: 100%;
    }
    .img-container{
        width: 100%;
    }
}
@media (max-width: 576px){
     .aboutus-container{
        flex-direction: column;
    }
     .text-container{
        width: 100%;
    }
    .img-container{
        width: 100%;
    }
}