.Container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h1{ 
    font: var(--headingBig);
    font-weight: var(--medium);
    color: var(--moreContrastText);
}
h2{
    border-radius: 10px;
    font: var(--headingSmall);
    color: var(--text);
    text-align: center;
    border: 1px solid var(--secondary);
    background-color: var(--primary);
}
.cartContainer{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}
.gamecard3{
    border-radius: 5px;
    display: flex;
    background-color: var(--primary);
    padding: 16px;
    gap: 30px;
}
.gameInfor {
    margin-right: auto;
}
.gameInfor > p{
    font: var(--bodyBig);
    color: var(--text);
}

.gameInfor > p > span{
    color: var(--accent);
}
.gameImgFrame{
    max-width: 200px;
}
.gameImgFrame > img{
    aspect-ratio: 3/4;
    object-fit: cover;
    width: 100%;
}

.price-game{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.price-game > button{
    cursor: pointer;
    margin-left: auto;
    transition: all 0.3s ease;
    border-radius: 5px;
    font: var(--bodyBig);
    color: var(--textLessEmphasize);
    padding: 4px 16px;
    border: none;
    background-color: var(--primary);
}
.price-game > button:hover{
    color: var(--moreContrastText);
    background-color: var(--secondary);
}
.Game{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* Khi có giảm giá*/
.price1{
    display: flex;
    flex-direction: row;
}
.price1 > .sale{
    margin-right: 5px;
    padding: 4px 16px;
    background-color: var(--accent);
    border-radius: 5px;
    color: var(--moreContrastText);
    font: var(--headingSmall);
    font-weight: var(--medium);
    align-content: center;
}
.price1 .last-price{
    font: var(--small);
    color: var(--textLessEmphasize);
    text-decoration: line-through;
}
.price1 .price{
    font:var(--bodyBig);
    color: var(--accent);
    font-weight: var(--medium);
}
/*Khi không có giảm giá */
.price1.noSale{
    justify-content: flex-end;
}
.price1.noSale .sale{
    visibility: hidden;
}
.price1.noSale .last-price{
    visibility: hidden;
}
.price1.noSale .price{
    color: var(--moreContrastText);
}
/* Phần sumary*/
.sumaryContainer{
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 5px;
    gap: 10px;
}
.sumary{
    display: flex;
    flex-direction: column; 
    padding: 16px;
    gap: 5px;
}
.sumary>p{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font: var(--bodyBig);
    color: var(--textLessEmphasize);

}
.sumary span, .detail span{
    color: var(--accent);
}
.input-promocode{
    border-radius: 5px;
    border: none;
    color: var(--background);
    font: var(--bodySmall);
}
.detail{
    border-bottom: dashed var(--accent) 2px ;
    margin-bottom: 10px;
}
.detail>p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font: var(--bodySmall);
    color: var(--moreContrastText);
}
.go-to-payment{
    margin: 0px auto;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 32px;
    border-radius: 100px;
    background-color: var(--accent);
    font: var(--headingSmall);
    color: var(--moreContrastText);
}
@media (max-width: 992px){
    .cartContainer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }
}
@media (max-width: 768px){
    .price-game{
        flex-direction: row-reverse;
    }
    .Game{
        flex-direction: column;
    }
    .price-game > button > span{
        display: none;
    }
}
@media (max-width: 576px){
    .gamecard3{
        gap: 10px;
    }
    h1{
        font: var(--headingSmall);
    }
    .gameInfor > p{
        font: var(--small);
    }
}